nav ul li{
display: inline;
list-style: none;
margin-left:15px;
}
fieldset label{
    display: block;
    margin-bottom: 10px;
}
fieldset{
    margin-bottom: 10px;
    width: 50%;
}
#submit{
    background-color: green;
}
form{
    background-color: cadetblue;
}
table{
    margin: 10px;
    border: 5px solid gray;
}
tr td,th{
    border:1px solid black;
    text-align: center;
}